// Spaces
$space-extra-min:              0.1em;

$space-min:                    0.2em;
$space-min-negative:           -0.2em;
$space-min-vertical:           0.2em 0;
$space-min-vertical-center:    0.2em auto;
$space-min-horizontal:         0 0.2em;

$space-med:                    0.5em;
$space-med-negative:           -0.5em;
$space-med-vertical:           0.5em 0;
$space-med-vertical-center:    0.5em auto;
$space-med-horizontal:         0 0.5em;

$space-up:                    0.7em;
$space-up-negative:           -0.7em;
$space-up-vertical:           0.7em 0;
$space-up-vertical-center:    0.7em auto;
$space-up-horizontal:         0 0.7em;

$space-normal:                 1em;
$space-normal-negative:        -1em;
$space-normal-vertical:        1em 0;
$space-normal-vertical-center: 1em auto;
$space-normal-horizontal:      0 1em;

$space-normalmed:                 1.5em;
$space-normalmed-negative:        -1.5em;
$space-normalmed-vertical:        1.5em 0;
$space-normalmed-vertical-center: 1.5em auto;
$space-normalmed-horizontal:      0 1.5em;

$space-big:                    2em;
$space-big-negative:           -2em;
$space-big-vertical:           2em 0;
$space-big-vertical-center:    2em auto;
$space-big-horizontal:         0 2em;

$space-med-big:                2.5em;
$space-med-big-negative:       -2.5em;
$space-med-big-vertical:       2.5em 0;
$space-med-big-vertical-center:2.5em auto;
$space-med-big-horizontal:     0 2.5em;

$space-bigger:                 3em;
$space-bigger-negative:        -3em;
$space-bigger-vertical:        3em 0;
$space-bigger-vertical-center: 3em auto;
$space-bigger-horizontal:      0 3em;

$space-large:                 4em;
$space-large-negative:        -4em;
$space-large-vertical:        4em 0;
$space-large-vertical-center: 4em auto;
$space-large-horizontal:      0 4em;

$space-speciallarge:                 5em;
$space-speciallarge-negative:        -5em;
$space-speciallarge-vertical:        5em 0;
$space-speciallarge-vertical-center: 5em auto;
$space-speciallarge-horizontal:      0 5em;


$space-medlarge:                 6em;
$space-medlarge-negative:        -6em;
$space-medlarge-vertical:        6em 0;
$space-medlarge-vertical-center: 6em auto;
$space-medlarge-horizontal:      0 6em;

$space-verylarge:                 8em;
$space-verylarge-negative:        -8em;
$space-verylarge-vertical:        8em 0;
$space-verylarge-vertical-center: 8em auto;
$space-verylarge-horizontal:      0 8em;

// Themes
$space-wrapper:                11em 0 0em;
$space-wrapper-1:              0;
$space-wrapper-2:              6em 0 0em;
$space-wrapper-3:              3.6em 0 0em;
$margin-carrousel-3:           -5.6em;
$space-wrapper-mobile:         3em 0 1em;
$space-wrapper-mobile-3:       3em 0 0;
$space-nav:                    2em 0 1em;
$footer-height:                240px;
$footer-height-mobile:         320px;

// Sizes
$text-min:                     0.7em;
$text-special:                 0.8em;
$text-med:                     0.98em;
$text-normal:                  1em;
$text-mini-title:              1.2em;
$text-logo-mini-title:         1.4em;
$text-logo-title:              1.8em;
$text-max-title:               2em;

// Line-height
$line-height-min-extra:        0.8em;
$line-height-min:              1em;
$line-height-normal:           1.8em;
$line-height-big:              1.99em;
$line-height-extra-big:        58px;
$line-height-extra-big-nav:    68px;

// Opacity
$opacity-small:                0.2;
$opacity-normal:               0.6;
$opacity-big:                  0.8;
$opacity-no:                   1;

// Paths
$assets_path:                  '../../user_space/';
$images_path:                  '#{$assets_path}images-css';

