/* Grouping /////////////////////////////////////////////////  */
.theme-2{
    padding-bottom: 0 !important;
    header{
        .col-table{
            display: table;
            width: 100%;
            .navbar-header{
                display: table-cell;
                vertical-align: bottom;
                @media screen and (max-width: $screen-xs-max) {
                    display: block;
                }
            }
            #navbar{
                display: table-cell !important;
                vertical-align: bottom;  
                @media screen and (max-width: $screen-xs-max) {
                    display: none !important;
                }
                &.collapsin, &.in{
                    display: block !important;
                }  
            }
        }
    }
    main{
        .wrapper{
            .grouping {
                .grouping-layout-title{
                    @include make-sm-column(12);
                    @include make-sm-column-offset(0);
                }
                .grouping-image {
                    @include make-sm-column(5);
                    padding-top: $space-normal;
                    iframe{ width: 100% !important;}
                }
                .grouping-content {
                    @include make-sm-column(6);
                    @include make-sm-column-offset(1);
                    padding-top: $space-normal;
                    padding-bottom: $space-normal;
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        right: 100%;
                        left: -90%;
                        top: 0px;
                        bottom: 0px;
                        z-index: -1;
                        @media screen and (max-width: $screen-xs-max) {
                            left: 0;
                            right: 0;
                            top: -50%;
                        }
                    }
                }
                .grouping-gallery{
                    @include make-sm-column(12);
                    ul{
                        li{
                            @include make-lg-column(4);
                                @media screen and (max-width: $screen-md-max) {
                                    @include make-md-column(4);
                                }
                                @media screen and (max-width: $screen-sm-max) {
                                    @include make-sm-column(6);
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    @include make-xs-column(12);
                                }
                        }
                    }
                }
                .grouping-content-contact{
                    .form-group{
                        .control-input,
                        .control-textarea,
                        .control-check,
                        .control-submit{
                           @include make-sm-column(12);
                        }
                    }
                }
                /* HOME - FIRST /////////////////////////////////////////////////  */
                &.grouping-home,
                &.grouping-layout-page{
                    .grouping-gallery{
                        padding-top: $space-big;
                    }
                }
                &.grouping-home.grouping-first{
                    overflow: hidden;
                    
                    .grouping-image{
                        width: 100vw;
                        height: 100vh;
                        margin-top: $space-verylarge-negative;
                        position: relative;
                        margin-left: -50vw;
                        left: 50%;
                        padding: 0;
                        @media screen and (max-width: $screen-xs-max) {
                            margin-top: $space-speciallarge-negative;
                        }

                        img{
                            width: 100%;
                        }
                        .carousel{
                            height: 100vh;
                            .carousel-indicators{
                                bottom: $space-verylarge;
                                @media screen and (max-width: $screen-xs-max) {
                                    bottom: $space-normal;
                                }
                            }
                            .carousel-inner{
                                height: 100vh;
                                .item{
                                    height: 100vh;
                                  top: -50%;
                                  left: -50%;
                                  width: 200%;
                                  height: 200%;

                                    img{
                                        position: absolute;
                                        z-index: -1;
                                        top: 0;
                                        left: 0;
                                        bottom: 0;
                                        right: 0;
                                        top: 0;
                                        margin: auto;
                                        min-width: 50%;
                                        max-width: inherit;
                                        width: auto;
                                        min-height: 50%;
                                        overflow-x: hidden;
                                    }
                                }
                            }
                        }  
                            
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        margin-top: $space-verylarge-negative;
                        &:before{
                            display: none;
                        }
                        @media screen and (max-width: $screen-xs-max) {
                            margin-top: 0;
                        }
                    }
                }
                /* Only TEXT /////////////////////////////////////////////////  */
                &.grouping-only-text{

                   .grouping-image {
                        @include make-sm-column(12);
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        &:before{
                            display: none;
                        }
                    }
                }
                /* Only IMAGE /////////////////////////////////////////////////  */
                &.grouping-only-image {
                    text-align: center;

                    .grouping-image {
                        @include make-sm-column(8);
                        @include make-sm-column-offset(2);
                    }
                    .grouping-content {
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        &:before{
                            display: none;
                        }
                    }
                }
                /* Only GALLERY /////////////////////////////////////////////////  */
                &.grouping-only-gallery {

                    .grouping-image {
                        @include make-sm-column(12);
                        @include make-sm-column-offset(0);
                    }
                    .grouping-content {
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        &:before{
                            display: none;
                        }
                    }
                }

                /* GALLERY LIST Layout /////////////////////////////////////////////////  */
                &.grouping-layout-gallery-list{
                    .grouping-gallery{
                        ul{
                            margin-top: 0;
                            li{
                                a{
                                    figure{
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }

                /* GALLERY DETAIL layout /////////////////////////////////////////////////  */
                &.grouping-layout-gallery-detail{
                    .grouping-gallery{
                        @include make-sm-column(12);
                        border-top-style: solid;
                        border-top-width: 1px;
                        @media screen and (max-width: $screen-xs-max) {
                            border: 0;
                        }
                        li{
                            @include make-lg-column(4);
                                @media screen and (max-width: $screen-md-max) {
                                    @include make-md-column(6);
                                }
                                @media screen and (max-width: $screen-sm-max) {
                                    @include make-sm-column(6);
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    @include make-xs-column(12);
                                }
                        }
                    }
                    .grouping-image{
                        @include make-sm-column(4);
                        img{
                            border-width: 4px;
                            border-style: solid;
                        }
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(0);
                    }
                }
                /* EXHIBITIONS LIST layout /////////////////////////////////////////////////  */
                &.grouping-layout-exhibition.grouping-list{
                    article{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(0);
                    
                        .grouping-image{
                            @include make-sm-column(4);
                        }
                        .grouping-content{
                            @include make-sm-column(8);
                            @include make-sm-column-offset(0);
                            &:before{
                               left: -40%;
                                @media screen and (max-width: $screen-xs-max) {
                                    left: 0;
                                }
                            }

                            .grouping-content-data{
                                @include make-sm-column(12);
                            }
                            .grouping-content-title{
                                @include make-sm-column(12);
                            }
                            .grouping-content-text{
                                @include make-sm-column(12);
                            }
                            .grouping-content-link{
                                @include make-sm-column(12);
                                text-align: right;
                                padding-top: $space-normal;
                            }
                        }
                        
                        &.grouping-only-text{
                            .grouping-content{ 
                                @include make-sm-column(12);
                                &:before{
                                    left: 0;
                                    margin-left: -1px;
                                    @media screen and (max-width: $screen-xs-max) {
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                /* EXHIBITIONS detail layout /////////////////////////////////////////////////  */
                &.grouping-layout-exhibition-detail{
                    .grouping-content-data{
                        @include make-sm-column(12);
                        @include make-sm-column-offset(0);
                    }
                    .grouping-gallery{
                        @include make-sm-column(12);
                        li{
                            @include make-lg-column(4);
                                @media screen and (max-width: $screen-md-max) {
                                    @include make-md-column(6);
                                }
                                @media screen and (max-width: $screen-sm-max) {
                                    @include make-sm-column(6);
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    @include make-md-column(12);
                                }
                        }
                    }
                    .grouping-image{
                        @include make-sm-column(6);
                        @include make-md-column(4);
                        img{
                            border-width: 4px;
                            border-style: solid;
                        }
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(0);
                        @include make-md-column(6);
                        @include make-md-column-offset(2);
                    }
                    .grouping-map{
                        @include make-sm-column(12);
                        @include make-sm-column-offset(0);
                        iframe{ width: 100% !important;}
                    }
                }
                /* ITEM detail layout /////////////////////////////////////////////////  */
                &.grouping-layout-item{
                    .container{
                        .grouping-content{
                            .form_paypal{
                                position: relative;
                                padding-bottom: $space-normal;
                                display: inline-block;
                                &:before{
                                    content: "\f1f4";
                                    font-family: FontAwesome;
                                }
                                .btn{
                                    padding-left: $space-large;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

