/* Color-pack-5 /////////////////////////////////////////////////  */
.color-pack-5{
    background: $color-uca-blue;
    color: $color-white;
    /* PAYPAL /////////////////////////////////////////////////  */
    .form_paypal{
        input{
            background: $color-paypal-01 !important;
            color: $color-white !important;
        }
        &:before{
            color: $color-white;
        }
        &:hover{
            input{
                background: $color-paypal-02 !important;
                color: $color-white;
            } 
            &:before{
                color: $color-white;
            }
        }
    }
    /* HEADER /////////////////////////////////////////////////  */
    header{
        background: $color-uca-blue;
        .navbar-top{
            color: $color-cerulean-blue;
            ul{
                li{
                    a{
                        color: $color-bea-blue;
                        &:hover{ color: $color-white;}
                    }
                }
            }
        }
        .navbar-header{
            .navbar-brand{
                color: $color-white;
            }
            .navbar-toggle{
                .icon-bar{
                    background:$color-silver;
                }
                &:hover{
                    .icon-bar{
                        background: $color-white;
                    }
                }
            }
        }
        #navbar{
            ul{
                color: $color-silver;
                li{
                    a{
                        color: $color-bea-blue;
                        &:hover{ color:$color-pastel-red;}
                        background: none;
                        &:focus{ background: none;}
                    }
                    &.active{
                        a{
                            color:$color-white;
                        }
                    }
                }
            }

            &.in, &.collapsing{
                ul{
                    li{
                        display: block;
                        a{
                            display: block;
                            text-align: center;
                        }
                        &::after{ display: none;}
                    }
                }
            }
            &.affix{
                background: $color-uca-blue; 
            }
        }
    }

    /* TITLES /////////////////////////////////////////////////  */
    h1, h2, h3, h6, h1 a, h2 a, h3 a, h6 a, h6 small{
        color: $color-bea-blue;
        .item-artist-name{
            color: $color-white;
        }
        &:after{
            background: $color-bea-blue;
        }
    }
    /* btn /////////////////////////////////////////////////  */
    .btn{
        background: $color-pastel-red;
        border-color: $color-pastel-red;
        color: $color-white;
        &.btn-alt{
            background: none;
            border-color: $color-pastel-red;
            color: $color-white;
        }
        &.btn-transparent{
            background: none;
            color: $color-bea-blue;
            border-color: $color-uca-blue;
        }
        &:hover{
            background: $color-white;
            border-color: $color-white;
            color: $color-pastel-red;
        }
    }
    /* TEXT /////////////////////////////////////////////////  */
    .grouping-content-text{
        ul{
            li{
                &:before{
                    background: $color-bea-blue;
                }
            }
        }
        a {
          color: $color-bea-blue;
          &:hover {
            color: $color-white;
          }
        }
    }
    /* Titles /////////////////////////////////////////////////  */
    .grouping-content-title, .grouping-layout-title{
        .back-link, .all-link{
            a{
                color: $color-bea-blue;
                &:hover{
                    color: $color-white;
                }
            }
        }
    }

    /* GRID /////////////////////////////////////////////////  */
    section{
        .container{
            border-bottom-color: $color-dark-electric;
        }
        /* Grouping /////////////////////////////////////////////////  */
        .grouping-image{
            a{
                &:before{
                    background: $color-raisin;
                }
            }
        }

        .grouping-content-breadcrumbs{
            color: $color-white;
            ul{
                li{
                    border-right-color: $color-dark-electric;
                    a{
                        color: $color-silver;
                        &:hover{
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .grouping-content-data{
            ul{
                color: $color-white;
                .grouping-content-data-data{
                    color: $color-silver;
                }
            }
        }
        .grouping-content-social{
            ul{
                color: $color-white;
                border-top-color: $color-dark-electric;
                li{
                    a{
                        background: $color-uca-blue;
                        color: $color-bea-blue;
                        &:hover{
                            background: $color-white;
                            color: $color-raisin;
                        }
                    }
                }
            }
        }

        .grouping-content-contact{
            .form-control{
                background: $color-dark-electric;
                border-bottom-color: $color-white;
                color: $color-white;
            }
            .control-check{
                color: $color-white;
                a{
                    color:$color-bea-blue;
                }
            }
        }

        .grouping-gallery{
            ul{
                li{
                    a{
                        color: $color-white;
                        &:hover{ color: $color-bea-blue;}
                        figure{
                            span{
                                &:before{
                                    background: $color-raisin;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.grouping-layout-gallery-detail, &.grouping-layout-exhibition-detail{
            .grouping-image{
                img{
                    border-color: $color-white;
                }
            }
            .grouping-gallery{
                border-color:  $color-dark-electric;
            }
        }
        &.grouping-layout-exhibition.grouping-list{
            article{
                border-bottom-color:  $color-dark-electric;
            }
        }
    }


    /* FOOTER /////////////////////////////////////////////////  */
    footer{
        .container{
            border-top-color: $color-dark-electric;
            color: $color-white;
            a{color: $color-bea-blue;
                &:hover{
                    color: $color-pastel-red;
                }
            }
        }
        svg{
            path{ fill: $color-bea-blue;}
        }
    }
}

/* Theme 2/////////////////////////////////////////////////  */
.theme-2.color-pack-5{

    header{
        .navbar-top{
            border-color: $color-dark-electric;
        }
    }
    
    .grouping-content,
    .grouping-content:before,
    footer{
        background: $color-raisin;
    }
    
    .grouping-content-contact{
        .form-control{
            background: $color-raisin;
        }
    }

    
    .grouping-gallery{
            ul{
                li{
                    a{
                        color: $color-white;
                        &:hover{ color: $color-white;}
                    }
                }
            }
        }
    
    .grouping-only-image{
        .grouping-content{
            background: none;   
        }   
    }
    
    .grouping-home.grouping-only-text{
        background: $color-raisin;
        
        .grouping-content{
            background:  $color-raisin;     
        }
    }
    
    .grouping-layout{
        .grouping-layout-title{
            h1, h2, h3, h1 a, h2 a, h3 a{
                color: $color-bea-blue;
            }
        }
        &.grouping-layout-exhibition-detail{
            .grouping-content{
                background: none;
                &:before{
                    display: none;
                }
            }    
        }
    }
}

/* Theme 3/////////////////////////////////////////////////  */
.theme-3.color-pack-5{
    background: $color-uca-blue url(#{$images_path}/bg_t3_color_5.png)  no-repeat 0 0;
    background-size: 100%;
    
    header {
        background: $color-uca-blue-header;
    }

    .grouping-content:before{
        background: $color-bea-blue;
    }
    
    footer{
        background: $color-raisin;
    }
    
    .btn{
        color: $color-white;
        background: $color-bea-blue;
        &:before{
            background: $color-bea-blue;
        }
        &.btn-alt{
            color: $color-white;
            background: none;
        }
        &.btn-transparent{
            background: none;
            color: $color-white;
        }
        &:hover{
            color: $color-white;
            &:before{
                background: $color-pastel-red;
            }
        }
    }

    .grouping-gallery{
            ul{
                li{
                    a{
                        color: $color-white;
                        &:hover{ color: $color-white;}
                        figure{
                            figcaption{
                                &:before{
                                    background: $color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    
    .grouping-home.grouping-only-text{
        background: $color-raisin;
        color: $color-white;
        
        .grouping-content{
            &:before{
                background: $color-pastel-red;
            }
            .grouping-content-title{
                h1, h2, h3{
                    color: $color-cerulean-blue;
                }
            }       
        }
        .btn{
            color: $color-white
                &:before{
                    background: $color-dark-electric; 
                }
            &.btn-alt{
                color: $color-white;
            }
            &.btn-transparent{
                color: $color-white;
            }
            &:hover{
                color: $color-white;
                &:before{
                    background: $color-tulip;
                }
            }
        }
    }
    
    .grouping-layout{
        .grouping-layout-title{
            h1, h2, h3, h1 a, h2 a, h3 a{
                 color: $color-bea-blue;
            }
        }
        &.grouping-layout-exhibition-detail{
            .grouping-content{
                &:before{
                    display: none;
                }
            }    
        }
    }
}




