/* Color-pack-6 /////////////////////////////////////////////////  */
.color-pack-6{
    background: $color-cosmic-latte;
    color: $color-outer-space;
    /* PAYPAL /////////////////////////////////////////////////  */
    .form_paypal{
        input{
            background: $color-paypal-01 !important;
            color: $color-white !important;
        }
        &:before{
            color: $color-white;
        }
        &:hover{
            input{
                background: $color-paypal-02 !important;
                color: $color-white;
            } 
            &:before{
                color: $color-white;
            }
        }
    }
    /* HEADER /////////////////////////////////////////////////  */
    header{
        background: $color-cosmic-latte;
        .navbar-top{
            color: $color-bondi-blue;
            ul{
                li{
                    a{
                        color: $color-bondi-blue;
                        &:hover{ color: $color-outer-space;}
                    }
                }
            }
        }
        .navbar-header{
            .navbar-brand{
                color: $color-outer-space;
            }
            .navbar-toggle{
                .icon-bar{
                    background:$color-aquamarine;
                }
                &:hover{
                    .icon-bar{
                        background: $color-bondi-blue;
                    }
                }
            }
        }
        #navbar{
            ul{
                color: $color-cosmic-latte;
                li{
                    a{
                        color: $color-bondi-blue;
                        &:hover{ color:$color-outer-space;}
                        background: none;
                        &:focus{ background: none;}
                    }
                    &.active{
                        a{
                            color:$color-outer-space;
                        }
                    }
                }
            }

            &.in, &.collapsing{
                ul{
                    li{
                        display: block;
                        a{
                            display: block;
                            text-align: center;
                        }
                        &::after{ display: none;}
                    }
                }
            }
            &.affix{
                background: $color-white; 
            }
        }
    }

    /* TITLES /////////////////////////////////////////////////  */
    h1, h2, h3, h6, h1 a, h2 a, h3 a, h6 a{
        color: $color-bondi-blue;
        &:after{
            background: $color-bondi-blue;
        }
    }
    /* btn /////////////////////////////////////////////////  */
    .btn{
        background: $color-mountain-meadow;
        border-color: $color-mountain-meadow;
        color: $color-white;
        &.btn-alt{
            background: none;
            border-color: $color-mountain-meadow;
            color: $color-mountain-meadow;
        }
        &.btn-transparent{
            background: none;
            color: $color-mountain-meadow;
            border-color: $color-cosmic-latte;
        }
        &:hover{
            background: $color-bondi-blue;
            border-color:$color-bondi-blue;
            color: $color-white;
        }
    }
    /* TEXT /////////////////////////////////////////////////  */
    .grouping-content-text{
        ul{
            li{
                &:before{
                    background: $color-black-light;
                }
            }
        }
        a {
          color: $color-bondi-blue;
          &:hover {
            color: $color-outer-space;
          }
        }
    }
        /* Titles /////////////////////////////////////////////////  */
    .grouping-content-title, .grouping-layout-title{
        .back-link, .all-link{
            a{
                color: $color-bondi-blue;
                &:hover{
                    color: $color-outer-space;
                }
            }
        }
    }

    /* GRID /////////////////////////////////////////////////  */
    section{
        .container{
            border-bottom-color: $color-pastel-gray;
        }
        /* Grouping /////////////////////////////////////////////////  */
        .grouping-image{
            a{
                &:before{
                    background: $color-bondi-blue;
                }
            }
        }

        .grouping-content-breadcrumbs{
            color: $color-outer-space;
            ul{
                li{
                    border-right-color: $color-pastel-gray;
                    a{
                        color: $color-bondi-blue;
                        &:hover{
                            color: $color-outer-space;
                        }
                    }
                }
            }
        }
        .grouping-content-data{
            ul{
                color: $color-bondi-blue;
                .grouping-content-data-data{
                    color: $color-outer-space;
                }
            }
        }
        .grouping-content-social{
            ul{
                color: $color-outer-space;
                border-top-color: $color-pastel-gray;
                li{
                    a{
                        background: $color-pastel-gray;
                        color: $color-white;
                        &:hover{
                            background: $color-outer-space;
                            color: $color-white;
                        }
                    }
                }
            }
        }

        .grouping-content-contact{
            .form-control{
                background: $color-cosmic-latte;
                border-bottom-color: $color-outer-space;
                color: $color-outer-space;
            }
            .control-check{
                color: $color-outer-space;
                a{
                    color: $color-bondi-blue;
                }
            }
        }

        .grouping-gallery{
            ul{
                li{
                    a{
                        color: $color-bondi-blue;
                        &:hover{ color: $color-bondi-blue;}
                        figure{
                            span{
                                &:before{
                                    background: $color-bondi-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.grouping-layout-gallery-detail, &.grouping-layout-exhibition-detail{
            .grouping-image{
                img{
                    border-color:$color-outer-space;
                }
            }
            .grouping-gallery{
                border-color: $color-pastel-gray;
            }
        }
        &.grouping-layout-exhibition.grouping-list{
            article{
                border-bottom-color: $color-pastel-gray;
            }
        }
    }


    /* FOOTER /////////////////////////////////////////////////  */
    footer{
        .container{
            border-top-color:$color-pastel-gray;
            color: $color-outer-space;
            a{color: $color-bondi-blue;
                &:hover{
                    color:$color-bondi-blue;
                }
            }
            svg{
                path{ fill: $color-bondi-blue;}
            }
        }
    }
}

/* Theme 2/////////////////////////////////////////////////  */
.theme-2.color-pack-6{

    header{
        .navbar-top{
            border-color: $color-pastel-gray;
        }
    }
    
    .grouping-content{
        border-top:$color-bondi-blue solid 1px;
        border-right: $color-bondi-blue solid 1px;
        border-bottom: $color-bondi-blue solid 1px;
        background: $color-cosmic-latte;
        @media screen and (max-width: $screen-xs-max) {
            border-left: $color-bondi-blue solid 1px;
            border-top: none;
        }
        
    }
    .grouping-content:before{
        border-top: $color-bondi-blue solid 1px;
        border-left: $color-bondi-blue solid 1px;
        border-bottom: $color-bondi-blue solid 1px; 
        background: $color-cosmic-latte;
        margin-top: -1px;
        margin-bottom: -1px;
        @media screen and (max-width: $screen-xs-max) {
            border-top: $color-bondi-blue solid 1px;
            border-right: $color-bondi-blue solid 1px;
            border-bottom: none;
            margin-left: -1px;
            margin-right: -1px;
        }
    }
    footer{
        background: $color-outer-space;
        .container{
            color: $color-pastel-gray;   
        }
    }

    .grouping-home.grouping-first{
        .grouping-content{
            border-left:  $color-bondi-blue solid 1px;
        }
    }
    
    .grouping-content-contact{
        .form-control{
            background:  $color-cosmic-latte;
        }
    }

    
    .grouping-gallery{
            ul{
                li{
                    a{
                        color: $color-white;
                        &:hover{ color: $color-white;}
                    }
                }
            }
        }
    
    .grouping-only-image{
        .grouping-content{
            background: none; 
            border: none;
        }   
    }
    
    .grouping-home.grouping-only-text{
        background:  $color-outer-space;
        
        .grouping-content{
            background:  $color-outer-space; 
            color: $color-pastel-gray;
            border: none;
        }
    }
    .grouping-layout.grouping-only-text{
        .grouping-content{
            border: none;
        }
    }
    
    .grouping-layout{
        .grouping-layout-title{
            h1, h2, h3, h1 a, h2 a, h3 a{
                color: $color-bondi-blue;
            }
        }
        &.grouping-layout-exhibition-detail,
        &.grouping-layout-gallery-detail{
            .grouping-content{
                background: none;
                border: none;
                &:before{
                    display: none;
                }
            }    
        }
    }
}

/* Theme 3/////////////////////////////////////////////////  */
.theme-3.color-pack-6{
    background: $color-cosmic-latte url(#{$images_path}/bg_t3_color_6.png)  no-repeat 0 0;
    background-size: 100%;
    
    header {
        background: $color-cosmic-latte-header;
    }

    .grouping-content:before{
        background: $color-bondi-blue;
    }
    
    footer{
        background: $color-outer-space;
        .container{
            color: $color-pastel-gray;    
        }
    }
    
    .btn{
        color: $color-white;
        background:  $color-mountain-meadow;
        &:before{
            background:  $color-mountain-meadow;
        }
        &.btn-alt{
            background: none;
            color: $color-mountain-meadow;
        }
        &.btn-transparent{
            background: none;
            color: $color-mountain-meadow;
        }
        &:hover{
            color: $color-white;
            &:before{
                background: $color-bondi-blue;
            }
        }
    }
    
    .grouping-gallery{
            ul{
                li{
                    a{
                        color: $color-white;
                        &:hover{ color: $color-white;}
                        figure{
                            figcaption{
                                &:before{
                                    background: $color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    
    .grouping-home.grouping-only-text{
        background: $color-raisin;
        color: $color-pastel-gray;
        
        .grouping-content{
            &:before{
                background: $color-aquamarine;
            }
            .grouping-content-title{
                h1, h2, h3{
                    color: $color-bondi-blue;
                }
            }       
        }
        .btn{
            color: $color-white
                &:before{
                    background: $color-bondi-blue; 
                }
            &.btn-alt{
                color: $color-white;
            }
            &.btn-transparent{
                color: $color-white;
            }
            &:hover{
                color: $color-white;
                &:before{
                    background: $color-bondi-blue;
                }
            }
        }
    }
    
    .grouping-layout{
        .grouping-layout-title{
            h1, h2, h3, h1 a, h2 a, h3 a{
                 color: $color-bondi-blue;
            }
        }
        &.grouping-layout-exhibition-detail{
            .grouping-content{
                &:before{
                    display: none;
                }
            }    
        }
    }
}
