/* Color-pack-1 /////////////////////////////////////////////////  */
.color-pack-2{
    background: $color-black;
    color: $color-white;
    /* PAYPAL /////////////////////////////////////////////////  */
    .form_paypal{
        input{
            background: $color-paypal-01 !important;
            color: $color-white !important;
        }
        &:before{
            color: $color-white;
        }
        &:hover{
            input{
                background: $color-paypal-02 !important;
                color: $color-white;
            } 
            &:before{
                color: $color-white;
            }
        }
    }
    /* HEADER /////////////////////////////////////////////////  */
    header{
        background: $color-black;
        .navbar-top{
            color: $color-grey;
            ul{
                li{
                    a{
                        color: $color-grey;
                        &:hover{ color: $color-white;}
                    }
                }
            }
        }
        .navbar-header{
            .navbar-brand{
                color: $color-white;
            }
            .navbar-toggle{
                .icon-bar{
                    background: $color-grey-light;
                }
                &:hover{
                    .icon-bar{
                        background: $color-white;
                    }
                }
            }
        }
        #navbar{
            ul{
                color: $color-grey;
                li{
                    a{
                        color: $color-grey;
                        &:hover{ color: $color-white;}
                        background: none;
                        &:focus{ background: none;}
                    }
                    &.active{
                        a{
                            color: $color-white;
                        }
                    }
                }
            }

            &.in, &.collapsing{
                ul{
                    li{
                        display: block;
                        a{
                            display: block;
                            text-align: center;
                        }
                        &::after{ display: none;}
                    }
                }
            }
            &.affix{
            background: $color-black; 
            }
        }
    }

    /* TITLES /////////////////////////////////////////////////  */
    h1, h2, h3, h6, h1 a, h2 a, h3 a, h6 a{
        color: $color-white;
        &:after{
            background: $color-white;
        }
    }
    /* btn /////////////////////////////////////////////////  */
    .btn{
        background: $color-black-light;
        border-color: $color-black-light;
        color: $color-white;
        &.btn-alt{
            background: none;
            border-color: $color-white;
            color: $color-white;
        }
        &:hover{
            background: $color-white;
            border-color: $color-white;
            color: $color-black;
        }
    }
    /* TEXT /////////////////////////////////////////////////  */
    .grouping-content-text{
        ul{
            li{
                &:before{
                    background: $color-white;
                }
            }
        }
    }

    /* Titles /////////////////////////////////////////////////  */
    .grouping-content-title, .grouping-layout-title{
        .back-link, .all-link{
            a{
                color: $color-grey;
                &:hover{
                    color: $color-white;
                }
            }
        }
    }

    /* GRID /////////////////////////////////////////////////  */
    section{
        .container{
            border-bottom-color: $color-black-light;
        }
        /* Grouping /////////////////////////////////////////////////  */
        .grouping-image{
            a{
                &:before{
                    background: $color-black;
                }
            }
        }

        .grouping-content-breadcrumbs{
            color: $color-grey;
            ul{
                li{
                    border-right-color: $color-black-light;
                    a{
                        color: $color-grey;
                        &:hover{
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .grouping-content-data{
            ul{
                color: $color-white;
                .grouping-content-data-data{
                    color: $color-grey;
                }
            }
        }
        .grouping-content-social{
            ul{
                color: $color-grey;
                border-top-color: $color-black-light;
                li{
                    a{
                        background: $color-black-light;
                        color: $color-white;
                        &:hover{
                            background: $color-white;
                            color: $color-black;
                        }
                    }
                }
            }
        }

        .grouping-content-contact{
            .form-control{
                background: $color-black-light;
                border-bottom-color: $color-white;
                color: $color-white;
            }
            .control-check{
                color: $color-grey;
                a{
                    color:$color-white;
                }
            }
        }

        .grouping-gallery{
            ul{
                li{
                    a{
                        color: $color-grey;
                        &:hover{ color: $color-white;}
                        figure{
                            span{
                                &:before{
                                    background: $color-black;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.grouping-layout-gallery-detail, &.grouping-layout-exhibition-detail{
            .grouping-image{
                img{
                    border-color: $color-black;
                }
            }
            .grouping-gallery{
                border-color: $color-black-light;
            }
        }
        &.grouping-layout-exhibition.grouping-list{
            article{
                border-bottom-color: $color-black-light;
            }
        }
    }


    /* FOOTER /////////////////////////////////////////////////  */
    footer{
        .container{
            border-top-color: $color-black-light;
            color: $color-grey;
            a{color: $color-white;}
            svg{
                path{ fill: $color-white;}
            }
        }
    }
}

/* Theme 2/////////////////////////////////////////////////  */
.theme-2.color-pack-2{

    header{
        .navbar-top{
            border-color: $color-black-light;
        }
    }
    
    .grouping-content,
    .grouping-content:before,
    footer{
        background:  $color-black-light;
    }
    
    .btn{
        background: $color-black-light;
        border-color: $color-grey;
        color: $color-grey;
        &.btn-alt{
            border-color: $color-grey;
            color: $color-grey;
            background: none;
        }
        &.btn-transparent{
            background: none;
            color: $color-white;
            border-color: $color-grey-light;
        }
        &:hover{
            background: $color-white;
            border-color: $color-white;
            color: $color-black;
        }
    }
    
    .grouping-gallery{
        ul{
            li{
                a{
                    color: $color-white;
                    &:hover{ color: $color-white;}
                }
            }
        }
    }
    
    .grouping-only-image{
        .grouping-content{
            background: none;   
        }   
    }
    
    .grouping-home.grouping-only-text{
        background: $color-white;
        color: $color-black;
        
        .grouping-content{
                background: $color-white;
                .grouping-content-title{
                    h1, h2, h3{
                        color: $color-black;
                    }
                }       
        }
        .btn{
            &:hover{
                background: $color-black;
                border-color: $color-black;
                color: $color-white;
            }
        }
    }
    
    .grouping-layout{
        .grouping-image{
            a{
                &:before{
                    background: $color-white;
                }
            }
        }
        
        .grouping-layout-title{
            h1, h2, h3, h1 a, h2 a, h3 a{
                color: $color-grey;
            }
        }
        &.grouping-layout-exhibition-detail{
            .grouping-content{
                background: none;
                &:before{
                    display: none;
                }
            }    
        }
        &.grouping-layout-gallery-detail, 
        &.grouping-layout-exhibition-detail{
            .grouping-image{
                img{
                    border-color: $color-white;
                }
            }        
        }
    }
}

/* Theme 3/////////////////////////////////////////////////  */
.theme-3.color-pack-2{
    background: $color-black url(#{$images_path}/bg_t3_color_2.jpg) no-repeat 0 0;
    background-size: 100%;
    
    header {
        background: $color-black-header;
    }

    .grouping-content:before{
        background: $color-white;
    }
    
    footer{
        background: $color-black;
        color: $color-grey-light;
        h6, a{
            color:  $color-white;
        }
    }
    
    .btn{
        color: $color-white;
        &:before{
            background: $color-black-light;
        }
        &.btn-alt{
            color: $color-white;
        }
        &.btn-transparent{
            background: none;
            color: $color-white;
        }
        &:hover{
            color: $color-black;
            &:before{
                background: $color-white;
            }
        }
    }
    
    .grouping-gallery{
            ul{
                li{
                    a{
                        color: $color-white;
                        &:hover{ color: $color-white;}
                        figure{
                            figcaption{
                                &:before{
                                    background: $color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    
    .grouping-home.grouping-only-text{
        background: $color-black-light;
        color: $color-white;
        
        .grouping-content{
            &:before{
                background: $color-grey;
            }
            .grouping-content-title{
                h1, h2, h3{
                    color: $color-white;
                }
            }       
        }
        .btn{
            color: $color-black;
                &:before{
                    background: $color-grey; 
                }
            &.btn-alt{
                color: $color-grey;
            }
            &.btn-transparent{
                color: $color-black;
            }
            &:hover{
                color: $color-black;
                &:before{
                    background: $color-white;
                }
            }
        }
    }
    
    .grouping-layout{
        .grouping-layout-title{
            h1, h2, h3, h1 a, h2 a, h3 a{
                color: $color-white;
            }
        }
        &.grouping-layout-exhibition-detail{
            .grouping-content{
                &:before{
                    display: none;
                }
            }    
        }
    }
}
