/* Typography-pack-3 /////////////////////////////////////////////////  */

.typography-pack-3{
    /* GENERALS /////////////////////////////////////////////////  */
    font-family: 'Lato', sans-serif;
     -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;

    /* TITLES /////////////////////////////////////////////////  */
    h1, h2, h3, h6{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    /* HEADER /////////////////////////////////////////////////  */
    header{
        .navbar-top{
            font-family: 'Montserrat', sans-serif;
        }
        .navbar-header{
            .navbar-brand{
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            }
        }
    }

    /* BTN /////////////////////////////////////////////////  */
    .btn{
        font-family: 'Montserrat', sans-serif;
        font-size: $text-special;
    }


    /* GROUPINGS /////////////////////////////////////////////////  */
    section{
        .grouping-content-breadcrumbs,
        .grouping-content-data{
            ul{
                font-size: $text-special;
            }
        }
    }

}

