/* Typography-pack-6 /////////////////////////////////////////////////  */

.typography-pack-6{
    /* GENERALS /////////////////////////////////////////////////  */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;

    /* TITLES /////////////////////////////////////////////////  */
    h1, h2, h3, h6{
        font-family: 'Satisfy', cursive;
        font-weight: 600;
        .item-artist-name{
            font-family: 'Roboto', sans-serif;
            padding-bottom: $space-med !important;
        }
    }
    .grouping-content-price{
        h6{
            font-family: 'Roboto', sans-serif;
        }
    }

    /* HEADER /////////////////////////////////////////////////  */
    header{
        .navbar-top{
            font-family: 'Roboto', sans-serif;
            .text-left{
                ul{
                    li{
                        a{
                            font-size: $text-special;
                        }
                    }
                }
            }
        }
        .navbar-header{
            .navbar-brand{
                font-family: 'Satisfy', cursive;
                font-weight: 700;
            }
        }
    }

    /* BTN /////////////////////////////////////////////////  */
    .btn{
       font-family: 'Roboto', sans-serif;
       font-size: $text-special;
    }


    /* GROUPINGS /////////////////////////////////////////////////  */
    section{
        .grouping-content-breadcrumbs,
        .grouping-content-data{
            ul{
                font-size: $text-special;
            }
        }
    }

}

