/* Typography-pack-1 /////////////////////////////////////////////////  */
$font-google-pack-1: 'https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display:400,400i,900,900i';

/* Typography-pack-2 /////////////////////////////////////////////////  */
$font-google-pack-2: 'https://fonts.googleapis.com/css?family=Muli:300,400|Playfair+Display:400,400i,900,900i';

/* Typography-pack-3 /////////////////////////////////////////////////  */
$font-google-pack-3: 'https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i|Montserrat:400,700';

/* Typography-pack-4 /////////////////////////////////////////////////  */
$font-google-pack-4: 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Vollkorn:400,700';

/* Typography-pack-5 /////////////////////////////////////////////////  */
$font-google-pack-5: 'https://fonts.googleapis.com/css?family=Cabin:400,700|Inconsolata:400,700';

/* Typography-pack-6 /////////////////////////////////////////////////  */
$font-google-pack-6: 'https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,400i,700,700i';
